
---
import Card from "./Card.astro"
---

<div class="row">
    <div class="col-lg-3">
        <Card body='Skate  de gato estilo Comic' background='/catFondo.png' title="Cat Skate"  img='/skate.png' img2='/skate2.png' />
    </div>
    <div class="col-lg-3">
        <Card body='Protagonista del manwha SurCoreano'title="Skate Solo Leveling"  background='/sololevelingFondo.png' img='/skate3.png' img2='/skate4.png' />
    </div>
    <div class="col-lg-3">
        <Card body='Calavera neon ' title="Calavera Skate" background='/raceFondo.png' img='/skate8.png' img2='/skate9.png' />
    </div>
    <div class="col-lg-3">
        <Card body='Skate para los victoriosos' title="Skate Victory" background='/hellFondo.png' img='/skate5.png' img2='/skate6.png' />
    </div>
    <div class="col-lg-3">
        <Card body='Personaje de Marvels Comic' title="Venom Skate" background='https://m.media-amazon.com/images/I/81b2RyZYp8L.jpg' img='/skate10.png' img2='/skate11.png' />
    </div>
    <div class="col-lg-3">
        <Card body='Manga Japones Theme' title="Chainsaw Man" background='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaMJs4zZJ3Fn6Kxf8XGc0lZO8f6W9L6qRAJPdtGd1gng&s' img='/skate12.png' img2='/skate13.png' />
    </div>
    <div class="col-lg-3">
        <Card body='Thanos Comic' title="Thanos Skate" background='https://i.pinimg.com/564x/63/9a/02/639a026b7f45be251fa10d07f021b41e.jpg' img='/skate14.png' img2='/skate15.png' />
    </div>
    <div class="col-lg-3">
        <Card body='Skate del manga japones' title="20th Century Boys" background='https://lovelyduckie.files.wordpress.com/2009/05/20th-2.jpg' img='/skate16.png' img2='/skate17.png' />
    </div>
</div>
<style>
    .col-lg-3{
		margin-bottom: 350px;
	}
</style>