<div class="container-logo">
    <img src="logo.png" alt="">
</div>

<style>
.container-logo{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
    z-index: 999999;
   
}
img{
    height: 200px;
     

}
@media (max-width: 400px){
    img{
        height: 100px;
    }
}
</style>